.toanbo {
    width: 80%;
    font-family: "Reddit Mono", serif;
    margin:auto;
}
h1{
    color:tomato;
    font-weight: bold;
}
h3{
    background-color: blueviolet;
    color:white;
}
img{
    width:100%;
}
ul li {
    margin-bottom: 7px;
    list-style-type: none;
  }
  
 
i {
    margin-right: 7px;
    color: red; 
    font-size: 20px;
  }
  
  
ul li a {
    color: red; 
    text-decoration: none;
    font-weight: bold;
  }
