h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.doan1{
    font-family: Arial;
    font-size: 18px;
    
}
#tomtat{
    background-color: rgb(223, 223, 224);
    font-style:italic;
}
