ul{
    list-style: none;
    margin:0px;
    padding:0px;
    background-color: rgb(252, 252, 252);
    position:fixed;
    overflow:hidden;
    border-radius: 90px;
    color:black;
    width:100%;
}
ul li{
    float:left;
    

}
ul li:last-child{
    border-right: none;
    float:right;

}
ul li a{
    text-decoration: none;
    display:block;
    padding:15px 15px;
    
    text-align: center;
}
body{
    margin:0;
}
div{
    margin-top: 10px;
    margin-left: 0px;
    padding:5px 5px;
   

}
a.chu{
    position:relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20px;
    color:rgb(0, 0, 0);
    font-weight: bold;
}
a.chu::after{
    content:'';
    position:absolute;
    bottom:3;
    left:50%;
    width:0%;
    height:3px;
    background-color: rgb(0, 0, 0);
    transition:0.4s;

}
a.chu:hover::after{
    width:100%;
    left:0;
}
.toanbo {
    width: 100%;
    font-family: "Reddit Mono", serif;
    margin:auto;
    
    background-color: #fafafa ;
    border-radius: 10px;
    height:350px;
}
.block{
    width: 23%;
    background-color: white ;
    border-radius: 5px;
    height:550px;
    font-family: "Reddit Mono", serif;
    color:black;
}
.block img{
    width:100%;
   
}
.block a{
    text-decoration: none;
}
    

.con{
    display:flex;
    justify-content: space-evenly;
    padding-top: 55px;

}
h3,p{font-family: "Reddit Mono", serif;}
h2{font-family: "Dancing Script", cursive;
    font-size: 50px;
}


.div1{
    background-color: rgb(247, 120, 141);
    padding:10px;
    color:white;
}
